body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #637ff8;
    color: rgb(255, 255, 255);
  }
  
  .present {
    background-color: #93f090;
    color: rgb(5, 5, 5);
  }
  
  .future {
    background-color: #3234a8;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  